
:root {
    --color-primari: #264653;    
    --color-secundari: #2a9d8f;  
    --color-accent: #e9c46a;     
    --color-fons: #f4f1de;       
    --color-text: #333;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fons);
    color: var(--color-text);
    margin: 0;
    line-height: 1.6;
}
header {
    background-color: var(--color-primari);
    color: white;
    padding: 2rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    letter-spacing: 2px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1d353e;
    margin-top: 1rem;
}
nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: 0.3s;
}
nav a:hover {
    color: var(--color-accent);
}
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}
main img {
    border: 5px solid var(--color-secundari);
    border-radius: 50%; /* La fa rodona */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
footer {
    background-color: var(--color-primari);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
footer a {
    color: var(--color-accent);
    text-decoration: none;
    margin: 0 10px;
}